
.check-border {
  border: 1px solid black;
}

#app {
  width: 700px;
  margin: 0 auto;
  
}

.text-input{
  width: 100%;
  padding: 16px 16px 16px 60px;
  border: none;
  outline:none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}
section{
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  z-index: 1;
}
main{
  z-index: 2
}
footer{
  display: flex;
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);
}
footer div{
  flex: 1;
}