<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylus.css">
  <script src="vue.js"></script>
  <title>Document</title>
</head>
<body>
  <!-- 
    ** todomvc功能 
    showlist 展示的数组
    allList 所有的数组
    active 待完成
    completed 已完成的
    items left 是根据active的list长度来显示的

    已完成
      1.enter健添加待办☑️，双击修改、 删除☑️
      2.单个任务点击圈完成，再点击切换未完成。☑️
      3.下方状态栏 无、待办计数器☑️、全部、待办、已完成、已完成、清除已完成（无已完成时隐藏）☑️
        没有待办时隐藏下方状态栏☑️
    未完成
      1.双击修改
      2.css样式 是真的不想做，布局可扩展、语义快烂掉了
      全选 ✔
   -->

  <div id="app">
    <aside>
      <a @click="changetoVue" class="vue-content" >Vue</a>
      <a @click="changetoReact" class="react-content" >React</a>
    </aside>
    <!-- vue content -->
    <div v-if="!showDifference" class="">
      <section class="">
        <input type="checkbox" v-model="allChecked" @click="allCheckClear" >
        <input 
          class="text-input"
          type="text" @keyup.enter="addActive"
          placeholder="What needs to be done?" 
          autofocus="autofocus">
      </section>
      <main>
        <div v-for="(item, index) in showList">
          <div>
            <input type="checkbox" @click="completed(index)" :checked='item.isChecked'> 
            <input type="text" :value="item.content">
            <span @click="deleteOne(index)">X</span>
          </div>
        </div>
        <footer v-show="allList.length > 0" >
          <div>{{ count }} item<span v-if="activeList.length > 1">s</span> left</div>
          <div v-for="items in buttons" class="list-button">
            <div :class="{ 'check-border' : items.isCheck }" @click="changeStatus(items.id)">{{ items.name }}</div>
          </div>
          <div>
            <div v-show="completedList.length != 0" @click="clearComplet">Clear completed</div>
          </div>
        </footer>
      </main>
    </div>
    <!-- react content -->
    <div v-if="showDifference">123</div>
    
  </div>


<script>
  var app = new Vue({
    el: '#app',
    data: {
      count: 0,
      showDifference: false,
      allChecked: false,
      enterActive: '',
      buttons: [
        {
          name:"All",
          isCheck: true,
          id: 0,
        },
        {
          name:"Active",
          isCheck: false,
          id: 1,
        },
        {
          name:"Completed",
          isCheck: false,
          id: 2,
        }],
      allList: [],
      activeList: [],
      completedList: [],
      showList: [],
      isHaveComplet: false,
      isCheckActive: false,
    },
    methods:{
      changetoVue(){
        this.showDifference = false
      },
      changetoReact(){
        this.showDifference = true
      },
      // 选择全部 
      allCheckClear(e){
        console.log(this.allChecked)
        if(this.allChecked == false){
          this.allList.forEach(e =>{
            e.isChecked = true
            this.showList = this.allList
            this.items();
          })
        }else if(this.allChecked == true){
          this.allList.forEach(e =>{
            e.isChecked = false
            this.showList = this.allList
            this.items();
          })
        }
        
      },
      // 总数
      items(){
        this.completedList = this.allList.filter(el=> el.isChecked == true)
        console.log(this.completedList.length)
        this.activeList = this.allList.filter(el=> el.isChecked == false)
        this.count = this.activeList.length
      },
      // 增加一个待办
      addActive(e){
        // console.log(e.target.value)
        if(!e.target.value.trim()){
          return 
        }
        if(e.target.value){
          let name = {
            content: e.target.value, // 内容
            isChecked: false, // 是否完成
          }
          e.target.value = '';
          this.allList.push(name);
          this.showList = this.allList
          this.items();
        }else {
          return 
        }
      },
      // 切换状态
      changeStatus(e){
        this.buttons.forEach(el => {
          el.isCheck = false
          if(el.id == e){
            el.isCheck = true
          }
        });
        // 根据点击显示不同list
        
        switch(e){
          case 0:
            this.showList = this.allList;
            this.items();
            break;
          case 1:
            // actice
            this.showList = this.allList.filter(el=> el.isChecked == false);
            this.items();
            break;
          case 2:
            // completed
            this.showList = this.allList.filter(el=> el.isChecked == true)
            this.items();
            break;
        }
        
      },
      // 每条点击切换完成未完成状态
      completed(e){
        this.allList[e].isChecked = !this.allList[e].isChecked;
        this.items();
        if(this.allList.every(el => el.isChecked == true)){
          this.allChecked = true
        }else{
          this.allChecked = false
        }
      },
      deleteOne(e){
        let a = Number(e);
        this.allList.splice(a,1);
        this.items();
      },
      clearComplet(){
        // 清除已完成
        let a = this.allList.filter(el => el.isChecked == true)
        if(a.length == 0){
          this.allChecked = false
          this.items()
          return true
        }
        // for(let i = 0;i < this.allList.length; i++){
        //   if(this.allList[i].isChecked == true){
        //     this.allList.splice(i,1)
        //   }
        // }
        this.allList.forEach((e,index) => {
          if(e.isChecked == true){
            this.allList.splice(index,1)
          }
        })
        this.clearComplet()
      }
    },
    watch:{
      showList:{
        handler:(newv,oldv)=>{
          console.log(oldv,newv)
        }
      }
    }
  })
</script>
</body>
</html>
